<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="search">
      <input type="text" name="" id="">
    </div>
    <div class="search-button">
      <button>🔎</button>
    </div>
  </header>
  <section class="header">
    <section class="image">
      <img src="https://www.themealdb.com/images/media/meals/ustsqw1468250014.jpg" alt="Minuatura">
    </section>
    <section class="ingredients">
      <h1>👌 strMeal</h1>
      <hr class="solid">
      <h2>Ingredientes</h2>
      <div class="ingredients-list">
        <ul>
          <li>strMeasure1 strIngredient1</li>
          <li>strMeasure2 strIngredient2</li>
          <li>strMeasure3 strIngredient3</li>
          <li>strMeasure4 strIngredient4</li>
        </ul>
      </div>
    </section>
  </section>
  <section class="directions">
    <h2>Instrucciones</h2>
    <p>
      strInstructions
    </p>
  </section>
</body>
</html>