<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="search">
      <input type="text" name="" id="">
    </div>
    <div class="search-button">
      <button>🔎</button>
    </div>
    <div class="random-button">
      <button>🔀</button>
    </div>
  </header>
  <section class="header">
    <section id="image-section">
      <img id="recipe-thumbnail" src="https://www.themealdb.com/images/media/meals/ustsqw1468250014.jpg" alt="Minuatura">
    </section>
    <section id="ingredients-section" >
      <h1 id="recipe-title"></h1>
      <hr class="solid">
      <h2>Ingredients</h2>
      <div id="ingredients-section">
        <ul id="ingredients-list">
        </ul>
      </div>
    </section>
  </section>
  <section id="directions-section">
    <h2>Directions</h2>
    <p id="directions-paragraph">
    </p>
  </section>
  <!-- Import Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>