* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #F5EFD7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 10%;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #F5EFD7;
  padding-right: 10%;
  gap: 10px;
}

header input {
  height: 32px;
  width: 302px;
  border: 2px solid #CB803A;
  border-radius: 8px;
  background: none;
}

header button {
  border: 2px solid #CB803A;
  border-radius: 8px;
  background: none;
  height: 32px;
  width: 32px;
}

.container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  align-items: center;
  /* height: 100%; */
}

.recipe-item {
  border: 0px solid #CB803A;
  border-radius: 12px;
  height: 150px;
  width: 400px ; 
} 

#randomButton {
  background: #CB803A;
  border-radius: .4rem;
  height: 90px;
  width: 90px;
  position: fixed;
  bottom: 5%;
  right: 5%; 
  z-index: 1;
  border: none;
}

.blurModal {
  display: none;
  background: #F5EFD7;
  position: fixed;
  opacity: .8;
  backdrop-filter: blur(10px);
  top:0;
  left:0;
  height:100vh;
  width: 100%;
}

body {
  background-color: white;
  font-family: 'Alata', 'Arial';
}

h1 {
  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(31, 31, 31);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgCard {
  width: 192px;
  height: 192px;
  border-radius: 12px;
  overflow: hidden;

  filter: drop-shadow(4px 4px 2px rgba(128, 80, 36, 0.64));
}

.descriptionCard {
  box-sizing: border-box;
  position: absolute;
  width: 458px;
  height: 172px;
  border-radius: 12px;
  border: 2px solid #cb803a;
  margin: 91px;
  padding: 16px 36px 16px 113px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameMealCard, .categoryMealCard, .numberIngredientsCard{
  padding: 0;
  margin: 0;
}

.nameMealCard{
  font-family: 'Inter';
  color: #CB803A;
  font-size: 24px;
  font-weight: 700;
}

.categoryMealCard{
  font-size: 16px;
  font-weight: 400;
  color: #CB803A;
}

.numberIngredientsCard{
  font-size: 12px;
  font-weight: 400;
  color: #CB803A;
}